$bckGrndClr: #21232E;
$TxtClrLendLogo: #fff;
$FooterFont: 'Fresca', sans-serif;
$bckGrndImg: url(../img/m-h-night.jpg);
$pageFont: 'Source Sans Pro', sans-serif;
$underLineClr: #FF4E33;
$buttonClr: #E3AC00;
$footerClr: #3B3F50;
$sectionTxtClr: #D1D1D1 ;
$gradient: linear-gradient(45deg, #E1A902, #942E51);

